@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Gothic+A1&display=swap");
body {
  font-size: 14px;
  font-family: "Gothic A1", sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

.container {
  width: 1450px;
  margin: 0 auto;
  overflow: hidden;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .logo {
  width: 10%;
}

.nav .out-menu {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .out-menu .menu {
  text-transform: uppercase;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .out-menu .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .out-menu .menu ul li {
  margin-left: 25px;
  font-family: "Gotham-Bold";
  font-size: 14px;
}

.nav .out-menu .contact-link {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 10px;
}

.nav .out-menu .contact-link .phone-text,
.nav .out-menu .contact-link .phone-num {
  color: #b1243c;
  padding: 5px 10px;
}

.nav .out-menu .contact-link .phone-text {
  position: relative;
}

.nav .out-menu .contact-link .phone-text::before {
  content: "";
  position: absolute;
  background-image: url(../images/call.png);
  background-repeat: no-repeat;
  top: 3px;
  left: -30px;
  width: 26px;
  height: 26px;
}

.nav .out-menu .contact-link .phone-num {
  border-bottom: 3px solid #b1243c;
}

.cover-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.breadcrumb {
  background-color: #b1243c;
}

.breadcrumb .breadcrumb-in ul {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: "Gotham-Medium";
  font-size: 20px;
}

.breadcrumb .breadcrumb-in ul li {
  text-transform: uppercase;
  float: left;
  padding-right: 20px;
  position: relative;
}

.breadcrumb .breadcrumb-in ul li:not(:first-child) {
  padding-left: 20px;
}

.breadcrumb .breadcrumb-in ul li:not(:last-child)::after {
  content: ">";
  position: absolute;
  right: 0;
  top: 0;
}

.content section {
  padding-top: 50px;
  padding-bottom: 100px;
}

.content .link-back {
  padding: 20px 0;
  position: relative;
  font-family: "Gotham-Medium";
  font-size: 20px;
}

.content .link-back::before {
  content: "<";
  position: absolute;
  top: 0;
  left: -10px;
  color: #f67c91;
}

.content .sidebar {
  width: 30%;
  float: left;
}

.content .sidebar .side-link {
  margin-top: 50px;
}

.content .sidebar .side-link ul li {
  padding: 20px 0;
  color: #f67c91;
  font-family: "Gotham-Medium";
  font-size: 16px;
}

.content .main-content {
  width: 70%;
  float: left;
}

.content .main-content .title {
  font-size: 42px;
  margin-bottom: 30px;
}

.content .main-content .content-left {
  width: 50%;
  float: left;
}

.content .main-content .content-left .body-content {
  padding-right: 30px;
  line-height: 28px;
  font-size: 19px;
}

.content .main-content .content-right {
  width: 50%;
  float: left;
}

.content .main-content .content-right .quote-box {
  background-color: #b1243c;
  color: #fff;
  padding: 30px 50px;
  width: 60%;
  margin-left: 40px;
}

.content .main-content .content-right .quote-box .inner-content .title {
  font-size: 22px;
}

.content .main-content .content-right .quote-box .inner-content .description {
  margin-bottom: 30px;
}

.content .main-content .content-right .quote-box .inner-content .quote-content .input-item label {
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
  color: #f67c91;
}

.content .main-content .content-right .quote-box .inner-content .quote-content .input-item input,
.content .main-content .content-right .quote-box .inner-content .quote-content .input-item select {
  padding: 10px 0;
  width: 100%;
  background-color: #f67c91;
  border: none;
  color: #fff;
  text-transform: uppercase;
}

.content .main-content .content-right .quote-box .inner-content .quote-content .input-item option {
  border: none;
}

.content .main-content .content-right .quote-box .inner-content .quote-content .input-item .submit {
  margin-top: 40px;
  display: inline-block;
  width: unset;
  padding: 10px 20px;
  border: 2px solid #fff;
  background-color: unset;
}

.content .main-content .content-right .quote-box .inner-content .quote-content .submit-out {
  text-align: center;
}

.content .all-services-out {
  padding: 30px 0;
  padding-bottom: 100px;
  background: #f7f7f7;
}

.content .all-services-out .title {
  font-size: 42px;
  margin-bottom: 50px;
}

.content .all-services-out .all-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .all-services-out .all-services .s-item {
  width: 33%;
  background-color: #fff;
}

.content .all-services-out .all-services .s-item .s-content {
  padding: 20px;
}

.content .all-services-out .all-services .s-item .s-content .title {
  color: #212e3b;
  font-family: "FreightDispProSemibold-Regular";
}

.content .all-services-out .all-services .s-item .s-content .snippet {
  color: #3a4e61;
  font-family: "Gotham-Light";
  font-size: 19px;
}

.content .all-services-out .all-services .s-item .s-content .more {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: "Gotham-Bold";
  font-size: 16px;
}

.content .all-services-out .all-services .s-item .s-content .more a {
  color: #f67c91;
}

.content .all-services-out .all-services .s-item:nth-child(2) {
  margin: 0 20px;
}

.content .all-services-out .all-services .s-item .s-img img {
  width: 100%;
}

footer .foot-slide {
  background-color: #b1243c;
  color: #fff;
  padding: 50px 0;
  padding-bottom: 130px;
}

footer .foot-slide .title {
  font-size: 42px;
  text-align: center;
  margin-bottom: 30px;
}

footer .foot-slide .sl-item {
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

footer .foot-slide .sl-item .quote {
  height: 150px;
}

footer .foot-slide .sl-item .name {
  color: #f67c91;
}

footer .footer {
  padding: 130px 0;
  background-color: #212e3b;
  color: #fff;
}

footer .footer .foot-left {
  width: 40%;
  float: left;
}

footer .footer .foot-right {
  width: 60%;
  float: left;
  font-family: "Gotham-Bold";
  font-size: 14px;
}

footer .footer .foot-right .menu-left {
  width: 40%;
  float: left;
}

footer .footer .foot-right .menu-left ul li {
  padding: 10px 0;
}

footer .footer .foot-right .menu-right {
  width: 60%;
  float: left;
}

footer .footer .foot-right .menu-right ul li {
  padding: 10px 0;
}

footer .footer .foot-right a {
  color: #fff;
}

footer .copyright {
  padding: 20px 0;
  background-color: #b1243c;
  text-align: right;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  color: #f67c91;
  font-family: "Gotham-Bold";
}

.sp {
  display: none;
}

@media screen and (max-width: 1024px) {
  /*メニュー*/
  .sp_menu {
    display: none;
  }
  #batsu {
    background: #886f6e;
    height: 80px;
  }
  div#sp_menu,
  div#sp_menu_bg,
  div#sp_menu_bg02 {
    display: none;
  }
  /*.sp_bg {
      position: fixed;
      width: 100%;
      z-index: 99;
      background: white;
      opacity: 1;
  }*/
  .sp {
    display: block !important;
  }
  .pc {
    display: none !important;
  }
  p.sp_menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 7px !important;
    z-index: 100;
    /*background: white;*/
    /*	padding: 10px;*/
  }
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .menu-trigger {
    position: fixed;
    width: 28px;
    height: 18px;
    right: 13px;
    top: 13px;
  }
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    border-radius: 1px;
    -webkit-border-radius: 1px;
  }
  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  .menu-trigger span:nth-of-type(2) {
    top: 8px;
  }
  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  .menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(8px) rotate(-45deg);
    transform: translateY(8px) rotate(-45deg);
    background-color: #000000;
  }
  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  .menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-8px) rotate(45deg);
    transform: translateY(-8px) rotate(45deg);
    background-color: #000000;
  }
  div#sp_menu {
    position: fixed;
    left: 0;
    top: 45px;
    z-index: 6;
    width: 100%;
    color: white;
    /*background-color: rgba(0,0,0,0.100)!important;*/
    background-color: #000000;
  }
  div#sp_menu ul.sp_gmenu {
    /*margin: 0 0 15px 0!important;*/
    list-style-type: none;
    padding: 10vh 0 30px 0;
    background-color: #f2f2f2;
  }
  div#sp_menu ul.sp_gmenu li {
    margin-bottom: 30px;
    /*border-top: 1px solid white;*/
    padding-top: 10px;
    text-align: center;
  }
  div#sp_menu ul.sp_gmenu li:first-child {
    padding-top: 0;
  }
  div#sp_menu ul.sp_gmenu li:last-child {
    margin: 0;
  }
  div#sp_menu ul.sp_gmenu li#last {
    margin-bottom: 0 !important;
  }
  div#sp_menu ul.sp_gmenu li a {
    background: url(../../common/images/sp_arrow.png) no-repeat 5px 5px;
    background-size: 17px auto;
    /*padding: 0 0 0 30px!important;*/
    font-size: 18px;
    line-height: 1.3;
    /*color: white;*/
  }
  div#sp_menu ul.sp_gmenu li ul {
    padding-top: 15px !important;
    display: none;
  }
  div#sp_menu ul.sp_gmenu li ul li {
    padding-bottom: 10px !important;
    margin-bottom: 0 !important;
  }
  div#sp_menu ul.sp_gmenu li ul li:nth-child(6) {
    padding-bottom: 0 !important;
  }
  div#sp_menu ul.sp_gmenu li ul li a {
    background: url(../images/li02_sp.png) no-repeat 5px 6px;
    background-size: 6px auto;
    padding: 0 0 0 20px !important;
  }
  div#sp_menu ul.sns_sp {
    max-width: 220px;
    margin: 0 auto !important;
  }
  div#sp_menu ul.sns_sp li {
    float: left;
    margin: 0 28px 0 0 !important;
  }
  div#sp_menu ul.sns_sp li:nth-child(3) {
    margin: 0 !important;
  }
  div#sp_menu ul.sns_sp li img {
    height: 33px;
  }
  div#sp_menu ul li a {
    color: #000;
    text-decoration: none;
    display: block;
  }
  div#sp_menu h2 {
    text-align: center;
    background-color: #1f6a38;
    color: #fff;
    font-size: 17px;
    padding: 4px 0 !important;
    font-weight: normal;
    margin: 15px 0 0 0 !important;
  }
  div#sp_menu ul.sp_submenu {
    margin: 0 0 0 15px !important;
  }
  div#sp_menu ul.sp_submenu li {
    margin: 20px 0 !important;
  }
  div#sp_menu ul.sp_submenu li a {
    background: url(../images/li03_sp.png) no-repeat 0 5px;
    background-size: 13px auto;
    padding: 0 0 0 20px !important;
    font-size: 18px;
    line-height: 1.3;
  }
  div#sp_menu ul.sp_submenu li a span {
    display: block;
    font-size: 14px;
  }
  div#sp_menu p {
    margin: 0 0 0 15px !important;
  }
  div#sp_menu p a {
    color: #1f6a38;
    font-size: 12px;
  }
  .none {
    opacity: 0.3;
  }
  div#sp_menu_bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
  }
  div#sp_menu_bg02 {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.1) !important;
    z-index: 4;
  }
  footer div.footer_left {
    width: 48%;
  }
}

@media screen and (max-width: 896px) {
  div#sp_menu ul.sp_gmenu {
    padding: 10vh 0 30px 0;
  }
}

@media screen and (max-width: 560px) {
  div#sp_menu ul.sp_gmenu {
    padding: 5vh 0 30px 0;
  }
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block;
}

#area-1 {
  background: #fff;
  margin-top: 50px;
  margin-bottom: 100px;
}

#area-1 .main-content {
  width: 90%;
  margin: 0 auto;
}

#area-1 .main-content .content-left {
  width: 70%;
  float: left;
}

#area-1 .main-content .content-left .title {
  font-size: 42px;
}

#area-1 .main-content .content-left .about-content {
  font-size: 19px;
  margin-top: 50px;
}

#area-1 .main-content .content-right {
  width: 25%;
  float: right;
}

#area-1 .main-content .content-right .contact-box {
  background-color: #fff;
  color: #3a4e61;
  padding: 30px 50px;
  width: 60%;
  margin-left: 40px;
}
/*# sourceMappingURL=style.css.map */