.background-brown {
  background-color: #f7f7f7;
  padding: 0 0 30px 0;
}
.other-service {
  &__content-block {
    padding: 0 0 30px 0;
    background-color: #fff;
  }
}
.container {
  max-width: 1440px;
}
.pt-50 {
  padding-top: 50px;
}
.pb-50 {
  padding-bottom: 50px;
}
.mg-10{
  margin: 10px;
}
.mb-50{
  margin-bottom: 50px;
}
.breadcrumbs {
  &__child {
    span:not(:last-child) {
      color: rgba(246, 124, 145, 1);
    }
  }
}
.background-rose {
  background-color: rgba(177, 36, 60, 1);
}
h2.title {
  margin-bottom: 50px;
}
.property {
  &__form {
    &--body {
      form {
        label {
          color: rgba(246, 124, 145, 1);
        }
        input,
        select {
          background-color: rgba(246, 124, 145, 1);
          border: none;
          border-radius: 0%;
          color: #fff;
        }
        .submit {
          background-color: rgba(177, 36, 60, 1);
          padding: 7px 40px;
          color: #fff;
          border: 2px solid #fff;
          text-decoration: none;
        }
      }
    }
    &--title {
      color: #fff;
    }
    &--description {
      color: #fff;
      margin-top: 20px;
    }
  }
}
.side-link {
  margin-top: 50px;
  @media screen and (max-width: 768px) {
    margin-top: 20px;
  }
  ul {
    list-style: none;
    li {
      padding: 20px 0;
      color: #f67c91;
      font-size: 16px;
    }
  }
}
.link-back {
  font-size: 18px;
  position: relative;
  margin-bottom: 50px;
  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
  }
  &::before {
    content: "";
    background-image: url(../images/back.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    left: 0;
    width: 16px;
    height: 24px;
    position: absolute;
  }
  a {
    padding-left: 25px;
  }
}
.trad-item {
  
  margin-bottom: 50px;
  .trad-name {
    width: 100%;
    text-align: center;
  }
  .trad-logo{
    margin-bottom: 20px;
    height: 200px;
  }
}
.background-xam{
  background-color: #212E3B;
}
.background-grey{
  background-color: #293847;
}
.background-grey-light{
  background-color: #e5e5e5;
}
section{
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-us {
  &__content-block {
    padding: 0 0 30px 0;
    background-color: #293847;
    color: #b0b3b1;
    .title{
      color: #fff;
    }
  }
  &__apply{
    color: #b0b3b1;
    .title{
      color: #fff;
    }
    &-form{
      color: #fff;
      &--body{
        label{
          color: #fff;
        }
        input, select, textarea{
          background-color: #323e4a;
          border: none;
          border-radius: 0;
        }
        .submit {
          padding: 7px 40px;
          color: #fff;
          border: 2px solid #fff;
          text-decoration: none;
        }
      }
    }
  }
}

#criteria{
  color:#fff;
  ul{
    list-style: none;
    li{
      padding: 20px 0;
      position: relative;
      padding-left: 30px;
      text-transform: uppercase;
      color: #F67C91;
      &::before{
        content: "";
        background-image: url(../images/tick.png);
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        background-size: contain;
        left: -20px;
        top: 25%;
        position: absolute;
      }
    }
  }
}

#lastest-news{
  .title{
    font-size: 42px;
  }
  .news-content{
    .news-item{
      padding: 15px;
      padding-bottom: 50px;
      margin-bottom: 25px;
      color: #b0b3b1;
      border: 2px solid #f0f0f0;
      &__title{
        font-size: 42px;
        line-height: 1.2;
        color: #777c81;
      }
      &__snippet{
        font-size: 25px;
        margin-top: 15px;
      }
      &__more{
        text-transform: uppercase;
        a{
          color: #b1243c;
        }
      }
    }
    
  }
}
#our-services{
  color: #fff;
}