body {
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    // overflow: hidden;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1450px;
    // width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.nav {
    display: flex;
    justify-content: space-between;

    .logo {
        width: 10%;
    }

    .out-menu {
        width: 90%;
        display: flex;
        justify-content: space-between;

        .menu {
            text-transform: uppercase;
            width: 70%;
            display: flex;
            align-items: center;

            ul {
                display: flex;

                li {
                    padding: 20px 25px;
                    font-family: "Gotham-Bold";
                    font-size: 14px;
                }
            }

        }

        .contact-link {
            width: 20%;
            display: flex;
            padding: 20px 10px;

            .phone-text,
            .phone-num {
                color: #b1243c;
                padding: 5px 10px;

            }

            .phone-text {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    background-image: url(../images/call.png);
                    background-repeat: no-repeat;
                    top: -2px;
                    left: -25px;
                    width: 26px;
                    height: 26px;
                }
            }

            .phone-num {
                border-bottom: 3px solid #b1243c;
            }
        }
    }

}

.cover-img {
    display: flex;
    justify-content: center;
}

.breadcrumb {
    background-color: #B1243C;

    .breadcrumb-in {
        ul {
            padding: 20px 0;
            display: flex;
            align-items: center;
            color: #fff;
            font-family: "Gotham-Medium";
            font-size: 20px;

            li {
                text-transform: uppercase;
                float: left;
                padding-right: 20px;
                position: relative;

                &:not(:first-child) {
                    padding-left: 20px;
                }

                &:not(:last-child)::after {
                    content: ">";
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }

}

.content {

    // margin-top: 50px;
    section {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .link-back {
        padding: 20px 0;
        position: relative;
        font-family: "Gotham-Medium";
        font-size: 20px;

        &::before {
            content: "<";
            position: absolute;
            top: 0;
            left: -10px;
            color: #F67C91;
        }
    }

    .sidebar {
        width: 30%;
        float: left;



        .side-link {
            margin-top: 50px;

            ul {
                li {
                    padding: 20px 0;
                    color: #f67c91;
                    font-family: "Gotham-Medium";
                    font-size: 16px;
                }
            }
        }
    }

    .main-content {
        width: 70%;
        float: left;

        .title {
            font-size: 42px;
            margin-bottom: 30px;
        }

        .content-left {
            width: 50%;
            float: left;

            .body-content {
                padding-right: 30px;
                line-height: 28px;
                font-size: 19px;
            }
        }

        .content-right {
            width: 50%;
            float: left;

            .quote-box {
                background-color: #b1243c;
                color: #fff;
                padding: 30px 50px;
                width: 60%;
                margin-left: 40px;

                .inner-content {
                    .title {
                        font-size: 22px;
                    }

                    .description {
                        margin-bottom: 30px;
                    }

                    .quote-content {
                        .input-item {
                            label {
                                display: block;
                                padding: 10px 0;
                                text-transform: uppercase;
                                color: #f67c91;
                            }

                            input,
                            select {
                                padding: 10px 0;
                                width: 100%;
                                background-color: #f67c91;
                                border: none;
                                color: #fff;
                            }

                            option {
                                border: none;
                            }

                            .submit {
                                margin-top: 40px;
                                display: inline-block;
                                width: unset;
                                padding: 10px 20px;
                                border: 2px solid #fff;
                                background-color: unset;
                            }
                        }

                        .submit-out {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .all-services-out {
        padding: 30px 0;
        padding-bottom: 100px;
        background: #f7f7f7;

        .title {
            font-size: 42px;
            margin-bottom: 50px;
        }

        .all-services {
            display: flex;

            .s-item {
                width: 33%;

                background-color: #fff;

                .s-content {
                    padding: 20px;

                    .title {
                        color: #212e3b;
                        font-family: "FreightDispProSemibold-Regular";
                    }

                    .snippet {
                        color: #3a4e61;
                        font-family: "Gotham-Light";
                        font-size: 19px;

                    }

                    .more {
                        margin-top: 40px;
                        margin-bottom: 20px;

                        font-family: "Gotham-Bold";
                        font-size: 16px;

                        a {
                            color: #f67c91;
                        }
                    }
                }

                &:nth-child(2) {
                    margin: 0 20px;
                }

                .s-img {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

footer {
    .foot-slide {
        background-color: #B1243C;
        color: #fff;
        padding: 50px 0;
        padding-bottom: 130px;

        .title {
            font-size: 42px;
            text-align: center;
            margin-bottom: 30px;
        }

        .sl-item {
            padding: 20px;
            text-align: center;
            font-size: 20px;

            .quote {
                height: 150px;
            }

            .name {
                color: #f67c91;
            }
        }
    }

    .footer {
        padding: 130px 0;
        background-color: #212e3b;
        color: #fff;

        .foot-left {
            width: 40%;
            float: left;
        }

        .foot-right {
            width: 60%;
            float: left;
            font-family: "Gotham-Bold";
            font-size: 14px;

            .menu-left {
                width: 40%;
                float: left;

                ul {
                    li {
                        padding: 10px 0;
                    }
                }
            }

            .menu-right {
                width: 60%;
                float: left;

                ul {
                    li {
                        padding: 10px 0;
                    }
                }
            }

            a {
                color: #fff;
            }
        }

    }

    .copyright {
        padding: 20px 0;
        background-color: #b1243c;
        text-align: right;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        color: #f67c91;
        font-family: "Gotham-Bold";
    }

}




.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: block;
}